page-program {

  .grid {
    padding: 0px;
  }

  #outer {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  #innertime {
    align-self: center;
    width: 100%;
  }

  #innericon {
    align-self: center;
  }

  .card-title {
    font-size: 1.9rem;
    font-weight: 500;
  }

  .ion-md-paper, .ion-ios-paper {
    content: "\f33f";
    font-size: 24px;
  }

  ion-label {
    font-weight: 500;
  }

  .pres.card-md {
    margin: 10px 10px -1px 10px;
  }

  .pres.card-ios {
    margin: 12px 12px -1px 12px;
  }

  .card-header {
    padding: 12px 0px 12px 0px;
  }

  .card-content-md.pap {
    padding: 0px 0px 0px 0px;
  }

  .card-content-ios.pap {
    padding: 0px 0px 0px 0px;
  }

  .card-content-md.pap, .card-header-md {
    font-size: 1.5rem;
  }

  .card-content-ios.pap, .card-header-ios {
    font-size: 1.5rem;
  }

  .event-info p {
    font-size: 1.3rem;
  }

}
