<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Schedule</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="aligner">
  <ng-container *ngFor="let e of eventsArray">
    <ion-item-divider sticky>
      <ion-label>
        {{e.event.startTime}}
      </ion-label>
    </ion-item-divider>
    <ion-card #card
              [class]="e.event.type !== 2 ? card.className.split(' ')[0] + ' ' + card.className.split(' ')[1] + ' pres' : card.className">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col-3>
              <div id="outer">
                <div id="innertime">
                  <p>
                    {{e.event.startTime}}
                  </p>
                  <p>
                    {{e.event.endTime}}
                  </p>
                </div>
              </div>
            </ion-col>
            <ion-col>
              <ion-card-title>{{e.event.name}}</ion-card-title>
              <div class="event-info">
                <p><b>Location:</b> {{e.location.name}}</p>
                <ng-container *ngIf="e.event.type !== 2">
                  <p><b>Chair: </b><u (click)="openPresenterInfoPage(e.eventChair)">{{e.eventChair.firstName}}
                    {{e.eventChair.lastName}}</u>
                  </p>
                </ng-container>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ng-container>
      <ion-card>
        <ion-card-content #paperCard
                          [class]="paperCard.className.split(' ')[0] + ' ' + paperCard.className.split(' ')[1] + ' pap'">
          <ion-grid>
            <ion-row *ngFor="let paperInfo of e.papersInfo" (click)="openPaperInfoPage(paperInfo)">
              <ion-col col-3>
                <div id="outer">
                  <div id="innericon">
                    <ion-icon name="paper" item-left></ion-icon>
                  </div>
                </div>
              </ion-col>
              <ion-col>
                <ion-card-header text-wrap="">
                  {{paperInfo.paper.title}}
                </ion-card-header>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ng-container>
</ion-content>

<!-- <p>{{e.event.startTime}}</p>
<p>{{e.event.startTime}} - {{e.event.endTime}}</p>
<p>{{e.event.name}}</p>
<p>{{e.location.name}}</p>
<ng-container *ngFor="let paperInfo of e.papersInfo">
  <p>{{paperInfo.paper.title}}</p>
  <ng-container *ngFor="let presenter of paperIinvitedSpeakersters">
    <p>{{presenter.firstName}} {{presenter.lastName}}</p>
    -->
