<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Schedule</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="aligner">
  <ng-container *ngFor="let e of eventsArray">
    <ion-item-divider sticky class="start-time-divider">
      <ion-label>
        {{e.event.startTime}}
      </ion-label>
    </ion-item-divider>
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row [class]="'row type' + e.event.type">
            <ion-col col-3>
              <div id="outer">
                <div id="innertime">
                  <p>
                    {{e.event.startTime}}
                  </p>
                  <p>
                    {{e.event.endTime}}
                  </p>
                </div>
              </div>
            </ion-col>
            <ion-col>
              <ion-card-title>{{e.event.name}}</ion-card-title>
              <div class="event-info">
                <p><b>Location:</b> {{e.location.name}}</p>
                <ng-container *ngIf="e.event.type !== 2">
                  <p><b>Chair: </b><u (click)="openPresenterInfoPage(e.eventChair)">{{e.eventChair.firstName}}
                    {{e.eventChair.lastName}}</u>
                  </p>
                </ng-container>
              </div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="e.event.type!=2">
            <ion-list no-lines>
              <ng-container *ngFor="let paperInfo of e.papersInfo">
                <ion-item (click)="openPaperInfoPage(paperInfo.paper)">
                  <h2>{{paperInfo.paper.title}}</h2>
                  <p>
                    <ng-container *ngFor="let pres of paperInfo.presenters">
                      <ng-container *ngIf="paperInfo.presenters.indexOf(pres) == paperInfo.presenters.length -1">
                        <i>{{pres.firstName}} {{pres.lastName}}</i>
                      </ng-container>
                      <ng-container *ngIf="paperInfo.presenters.indexOf(pres) != paperInfo.presenters.length -1">
                        <i>{{pres.firstName}} {{pres.lastName + ', '}}</i>
                      </ng-container>
                    </ng-container>
                  </p>
                </ion-item>
              </ng-container>
            </ion-list>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ng-container>
