<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Schedule</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ng-container *ngFor="let e of events">
    <p *ngIf="e.date == date">{{e.startTime}}</p>
    <p *ngIf="e.date == date">{{e.startTime}} - {{e.endTime}}</p>
    <p *ngIf="e.date == date">{{e.name}}</p>
    <ng-container *ngIf="e.date == date">
      <ng-container *ngFor="let l of locations">
        <p *ngIf="e.locationID == l.ID">{{l.name}}</p>
      </ng-container>
    </ng-container>
  </ng-container>
</ion-content>
