program-page {

  .grid {
    padding: 0px;
  }

  #outer {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  #innertime {
    align-self: center;
    width: 100%;
  }

  .card-title {
    font-size: 1.9rem;
    font-weight: 500;
  }

  .ion-md-paper, .ion-ios-paper {
    content: "\f33f";
    font-size: 22px;
  }

  ion-label {
    font-weight: 400;
  }

  .event-info p {
    font-size: 1.3rem;
  }

  u {
    color: color($colors, primary);
  }

  .row.type1, .row.type0 {
    margin-bottom: 20px;
  }

  .item-md, .item-ios {
    background-color: white;
    padding-left: 6px;

  }

  .item-md h2, .item-ios h2 {
    white-space: initial;
    text-align: justify;
    font-weight: 500;
    font-size: 1.4rem;
  }

  .start-time-divider {
    background-color: #f7f7f7;
  }

  .item-md p, .item-ios p {
    white-space: initial;
    text-align: justify;
    font-weight: 400;
  }

}
