<ion-header>
  <ion-navbar hideBackButton="false">
    <ion-title>Paper informations</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="aligner">
  <ion-card>
    <ion-item-divider sticky>
      <ion-card-title>{{paperInfo.pap.title}}</ion-card-title>
    </ion-item-divider>
    <ion-item>
      <ng-container *ngIf="paperInfo.pap.papAbstract!=''">
        <h2>Abstract:</h2>
        <p>{{paperInfo.pap.papAbstract}}</p>
      </ng-container>
    </ion-item>

    <ion-item>
      <h2>Authors:</h2>
      <ng-container *ngFor="let a of paperInfo.papAuthors">
        <p (click)="openPresenterInfoPage(a)"><u>{{a.firstName}} {{a.lastName}}</u></p>
      </ng-container>
    </ion-item>
  </ion-card>
</ion-content>
