<ion-header>
  <ion-navbar hideBackButton="false">
    <ion-title>Paper informations</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="aligner">
  <ion-card>
    <ion-item-divider sticky>
      <ion-card-title>Titolo del paper</ion-card-title>
    </ion-item-divider>
    <ion-item>
      <ng-container>
        Abstract: bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
      </ng-container>
    </ion-item>

    <ion-item>

      <ng-container>
        <ng-container>Presenters:
        </ng-container>

        <ng-container>
        </ng-container>
      </ng-container>

    </ion-item>


    <ion-item>

      <ng-container>
        <ng-container>Authors:
        </ng-container>
        <ng-container>
        </ng-container>
      </ng-container>

    </ion-item>

  </ion-card>
</ion-content>


<!--*ngIf="presenterInfo.subjAreas.length != 0"-->
<!--*ngFor="let s of presenterInfo.subjAreas" id="sub-area"-->
