<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Presenters</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openPopover($event)">
        <ion-icon name="more" item-right></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-searchbar
      [(ngModel)]="queryText"
      (ionInput)="updatePresentersList()"
      placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngFor="let p of presentersArray">
      <ion-item *ngIf="!p.pHidden" (click)="openPresenterInfoPage(p.pres)">
        <ion-avatar item-left>
          <img [src]="p.pres.pictureURL == '' ? defaultAvatar : p.pres.pictureURL">
        </ion-avatar>
        <h2>{{p.pres.firstName}} {{p.pres.lastName}}</h2>
        <p>H-index: {{p.pres.hindex}}</p>
        <ion-icon item-right name="arrow-dropright"></ion-icon>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
